@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base Styles */
body {
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

/* Header Styles */
header {
    padding-left: 10%;
    margin: auto;
    height: 50px;
    position: relative;
    font-size: 16px;
    z-index: 100;
}

header #logo {
    width: 140px;
    padding: 10px 20px 10px 0px;
}

header #menu {
    display: none;
}

header a {
    color: #eee;
    padding: 10px 20px;
    cursor: pointer;
}

header #menu {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 490px) {
    header {
        padding-left: 24px;
    }

    header a {
        display: none;
    }
    nav button {
        display: none;
    }

    nav {
        justify-content: space-between;
        padding-right: 32px;
    }

    header #menu {
        display: block;
    }
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
}

nav button {
    background: none;
    border: none;
    color: #eee;
    padding: 10px 20px;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Popup Contact Form */
.popup-contact-form,
.popup-giving {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.7);
    align-content: center;
    align-items: center;
    justify-content: center;
}

.popup-giving h2 {
    font-size: 24px;
    padding-bottom: 0px;
    margin: 0px;
}

.popup-giving h3 {
    font-size: 16px;
    font-weight: 700;
}

.popup-giving p {
    font-size: 16px;
}

.tithely-give-button {
    background-color: #f1683a;
    color: white;
    line-height: 1.5;
    width: 100%; 
    font-size: 18px;
    font-weight: 500;
    padding: 16px; 
    border-radius: 8px;
    border-width: 0;
    text-align: center; 
    box-sizing: border-box;
    cursor: pointer;
}

.give-options {
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.give-options a {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    background: transparent;
    backdrop-filter: brightness(100%);
    flex: 1;
    text-decoration: none;
    text-align: center;
}

.popup-content {
    position: relative;
    backdrop-filter: blur(24px) saturate(180%) brightness(200%);
    -webkit-backdrop-filter: blur(24px) saturate(180%) brightness(300%);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    margin: 15% auto;
    padding: 36px;
    width: 30vw;
    overflow: hidden;
    animation: contact 0.88s ease;
}

/* Media Queries */
@media screen and (max-width: 678px) {
    .popup-content {
        width: 70vw;
    }
}

.popup-heading {
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 20px;
}

.close-btn {
    color: #aaa;
    float: right;
    margin-top: -28px;
    margin-right: -16px;
    font-size: 28px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: white;
    text-decoration: none;
}

/* Popup Menu */
.popup-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 1);
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    z-index: 1001;
}

.popup-menu {
    .close-btn {
        font-size: 48px;
        font-weight: 200;
        color: white;
        margin-right: -8px;
    }
}

.menu-items {
    position: relative;
    padding: 36px;
    width: 100vw;
    overflow: hidden;
}

.menu-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f1f1f1; /* Light color for the heading */
    text-align: left;
}

.menu-link, .menu-button {
    display: block; /* Ensures each item takes up full width */
    margin: 4px 0; /* Space between items */
    padding: 10px 0;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    transition: background 0.3s;
    text-align: left; /* Align the text to the left */
    width: fit-content; /* Adjust width to fit content */
}

.menu-button {
    padding: 14px 0;
}

/* Form Styles */
.input {
    display: block;
    margin-bottom: 13px;
    margin-top: 11px;
}

.input label {
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.input input,
.input textarea {
    width: -webkit-fill-available;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    background: #0000002b;
    color: white;
    transition: all 0.2s ease;
}

.input input:hover,
.input textarea:hover {
    background: #00000050;
}

.input input:focus,
.input textarea:focus {
    box-shadow: 0px 2px 2px #0000002b, 0px 5px 10px #00000036;
    background: #434343;
}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    background: #ffffff38;
    border: 1px solid #ffffff10;
    color: #e1e1e1;
    border-radius: 4px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    cursor: pointer;
}

.submit-btn:hover {
    background: #f1683a;
    transition: all 0.1s ease;
}

.submit-btn:focus {
    box-shadow: 0px 0px 0px 2px #a7a7a7b5;
    background: #00000061;
}

#formResponse {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 490px) {
    .popup-heading {
        letter-spacing: 2px;
        font-size: 14px;
    }

    .input label {
        font-size: 10px !important;
    }

    .submit-btn {
        letter-spacing: 2px;
        font-size: 12px !important;
        margin-bottom: 0px !important;
    }
}

/* Carousel Styles */
.carousel {
    height: 100vh;
    margin-top: -50px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    left: 10%;
    padding-right: 50%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 1px 1px 48px rgba(0, 0, 0, 0.5);
}

.carousel .list .item .title,
.carousel .list .item .topic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
    text-shadow: 1px 1px 48px rgba(0, 0, 0, 0.2);
}

.carousel .list .item .topic {
    color: #ffa200;
}

.carousel .list .item .des {
    font-size: 18px;
    font-weight: 400;
    text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.8);
}

.carousel .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .buttons button {
    border-radius: 4px;
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.carousel .list .item .buttons button:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
}

.carousel .list .item .buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    border-radius: 4px;
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

/* Default image for larger screens (desktop) */
#responsive-image {
    content: url('https://deliver.sirv.com/img/spiritual-dev.jpeg?w=1920');
}
#responsive-thumb {
    content: url('https://deliver.sirv.com/img/spiritual-dev.jpeg?w=320');
}

/* Image for smaller screens (mobile) */
@media only screen and (max-width: 490px) {
    #responsive-image {
        content: url('https://deliver.sirv.com/img/spiritual-dev.jpeg?w=1920');
        object-fit: cover;
        object-position: 75% center;
    }
    #responsive-thumb {
        content: url('https://deliver.sirv.com/img/spiritual-dev.jpeg?w=320');
        object-fit: cover;
        object-position: 75% center;
    }
}


/* Thumbnail Styles */
.thumbnail {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

.thumbnail .item .content .description {
    font-weight: 300;
}

@media screen and (max-width: 490px) {
    .carousel .list .item .content {
        left: 24px;
    }
    .carousel .list .item .author {
        letter-spacing: 3px;
        font-size: 10px;
    }

    .carousel .list .item .des {
        font-size: 16px;
    }

    .carousel .list .item .title,
    .carousel .list .item .topic {
        font-size: 2rem;
    }

    .carousel .list .item .buttons {
        grid-template-columns: repeat(1, 130px);
        grid-template-rows: 32px;
        gap: 5px;
        margin-top: 20px;
    }

    .carousel .list .item .buttons button {
        font-size: 12px;
    }

    .thumbnail {
        bottom: 50px;
    }

    .thumbnail .item {
        width: 120px;
        height: 160px;
    }
}

/* Arrows Styles */
.arrows {
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 490px) {
    .arrows {
        width: 110px;
        left: 24px;
    }

    .arrows button {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

/* Carousel Animations */
.carousel .list .item:nth-child(1) {
    z-index: 2;
}

.carousel.second .list .item:nth-child(3),
.carousel.third .list .item:nth-child(2) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

.carousel.next .list .item:nth-child(1) img,
.carousel.second .list .item:nth-child(1) img,
.carousel.third .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards, fadeBrightness 2s linear 1 forwards;
}

.carousel.second .list .item:nth-child(1) img {
    left: calc(50% + 175px);
}

.carousel.third .list .item:nth-child(1) img {
    left: calc(50% + calc(175px * 2));
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes fadeBrightness {
    from { filter: brightness(1.3); }
    to { filter: brightness(0.5); }
}

/* Thumbnail Animations */
.carousel.second .thumbnail .item:nth-last-child(1),
.carousel.third .thumbnail .item:nth-last-child(1),
.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carousel.second .thumbnail,
.carousel.third .thumbnail,
.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* Running Time */
.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.second .time,
.carousel.third .time,
.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

/* Prev Click Animations */
.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards, brightness 2s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

@keyframes brightness {
    from { filter: brightness(0.5); }
    to { filter: brightness(1.0); }
}

.carousel.prev .list .item img {
    z-index: 100;
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

/* Carousel Control Disabling */
.carousel.next .thumbnail .item,
.carousel.second .thumbnail .item,
.carousel.third .thumbnail .item,
.carousel.prev .thumbnail .item,
.carousel.second .arrows button,
.carousel.third .arrows button,
.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

.carousel.second .thumbnail,
.carousel.third .thumbnail,
.carousel.next .thumbnail,
.carousel.prev .thumbnail,
.carousel.second .arrows,
.carousel.third .arrows,
.carousel.next .arrows,
.carousel.prev .arrows {
    cursor: wait;
}

/* Media Queries */
@media screen and (max-width: 678px) {
    .carousel .list .item .content {
        padding-right: 0;
    }

    .carousel .list .item .content .title {
        font-size: 30px;
    }
}

/* Media Queries */
@media screen and (max-width: 490px) {
    .carousel .list .item .content {
        padding-right: 32px;
    }

    @keyframes outFrame {
        to {
            width: 120px;
            height: 160px;
            bottom: 25px;
            left: 50%;
            border-radius: 20px;
        }
    }
}

/* Keyframe Animations */
@keyframes contact {
    0% {
        transform: translateX(-50%) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* God Divider Styles */
.god-divider {
    position: relative;
    margin-top: -7vh;
}

.god-divider .triangle {
    position: relative;
    width: 100%;
    height: 100%;
}

.god-divider .triangle svg {
    width: 100%;
    height: 100%;
}

.god-divider .topmost,
.god-divider .midmost,
.god-divider .bottommost {
    position: absolute;
    width: 100%;
}

.god-divider .topmost {
    height: 7vh;
    z-index: 3;
    top: 0;
}

.god-divider .midmost {
    height: 5vh;
    z-index: 4;
    top: 2vh;
}

.god-divider .bottommost {
    height: 3vh;
    z-index: 5;
    top: 4vh;
}

.god-divider .utmost {
    height: 1vh;
    z-index: 6;
    top: 6vh;
}

/* Grace On Demand Styles */
.god {
    margin-top: 5vh;
    background-color: #fff;
    height: 32vh;
    width: 100%;
    display: flex;
    color: #152553;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    font-weight: 400;
}

.god .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10%;
    max-width: 600px;
}

.god .cta {
    flex: 0.8;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 5%;
    gap: 24px;
    margin-bottom: 5vh;
}

.god .info h3,
.god .info h2 {
    text-transform: uppercase;
    margin: 0;
}

.god .info h2 {
    font-size: 2.25rem;
}

.god .info h3 {
    letter-spacing: 5px;
    font-size: 1.25rem;
    margin-left: 4px; 
}

.god .cta h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.god .cta .buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    justify-content: center;
}

.god .cta .login-btn,
.god .cta .register-btn {
    flex: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;  
    max-width: 192px;  
}

.god .cta .login-btn {
    background: transparent;
    border: 2px #152553 solid;
    color: #152553;
}

.god .cta .register-btn {
    border: none;
    background: #152553;
    color: white;
}

/* Media Queries */
@media screen and (max-width: 490px) {
    .god {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 0;
    }

    .god .info {
        padding: 20% 5% 0 5%;
        max-width: 100%;
    }

    .god .cta {
        padding: 0 5% 20% 5%;
        max-width: 100%;
    }

    .god .info h2 {
        font-size: 1.6rem;
    }

    .god .info h3 {
        font-size: 0.8rem;
    }

    .god .cta h4 {
        margin-top: -1.25rem;
        color: #fff;
    }

}

/* Mission Divider Styles */
.mission-divider {
    position: relative;
    margin-top: -7vh;
}

.mission-divider .triangle {
    position: relative;
    width: 100%;
    height: 100%;
}

.mission-divider .triangle svg {
    width: 100%;
    height: 100%;
}

.mission-divider .topmost,
.mission-divider .midmost,
.mission-divider .bottommost {
    position: absolute;
    width: 100%;
}

.mission-divider .topmost {
    height: 7vh;
    z-index: 3;
    top: 0;
}

.mission-divider .midmost {
    height: 5vh;
    z-index: 4;
    top: 2vh;
}

.mission-divider .bottommost {
    height: 3vh;
    z-index: 5;
    top: 4vh;
}

.mission-divider .utmost {
    height: 1vh;
    z-index: 6;
    top: 6vh;
}

/* Mission Styles */
.mission {
    margin-top: 6vh;
    display: flex;
    height: 60vh;
    width: 100%;
    color: white;
    gap: 1rem;
    background-color: #152553;
    font-size: 18px;
    font-weight: 300;
}

.mission .content {
    margin-top: -6vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    max-width: 600px;
}

.mission .content .logo {
    width: 40%;
    max-width: 200px;
    margin-bottom: 1rem;
}

.mission .content h2,
.mission .content h4 {
    margin: 0;
}

.mission .content h2 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;    
}

.mission .content h4 {
    font-size: 1.25rem;
    color: #e3c693;
    margin-top: -0.25rem;
    font-weight: 400;    
}

.mission .content p {
    margin: 32px 0px;
}

.mission .buttons {
    margin-top: 8px;
    width: 100%;
    display: flex;
    gap: 24px;
}

.mission .buttons .god-btn,
.mission .buttons .podcast-btn {    
    flex: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 200px;    
}

.mission .buttons .god-btn {
    background: transparent;
    border: 2px #fff solid;
    color: #fff;
}

.mission .buttons .podcast-btn {    
    border: none;
    background: #e3c693;
    color: #152553;
}

.mission .fancy-box {
    margin-top: -10vh;
    flex: 0.8;
    padding: 0 10% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mission .mobile-fancy-box {
    display: none;
    margin-top: -10vh;
    flex: 0.8;
    padding: 0 10% 0 5%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
}

.mission .video-placeholder {
    height: 100%;
}

.mission a[data-fancybox] {
    margin-top: 10%;
    border-radius: 30px;    
    width: 100%;
    height: 340px;
    max-width: 600px;
    background-image: url('https://deliver.sirv.com/img/thumb.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

.mission .video-placeholder .play-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the play button */
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mission .video-placeholder .play-button .play-icon {
    width: 0;
    height: 0;
    border-left: 20px solid #fff; /* Creates a play icon using borders */
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: 5px;
}

/* Media Queries */
@media screen and (max-width: 490px) {
    .mission {
        box-sizing: border-box;
        padding: 16vh 0;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
    }

    .mission .content {
        padding: 0 5%;
        max-width: 100%;
    }

    .mission .content h2 {
        font-size: 1.8rem;
    }

    .mission .content h4 {
        font-size: 1rem;
    }

    .mission .fancy-box {
        display: none;
    }

    .mission .mobile-fancy-box {
        margin-top: 1.25rem;
        display: flex;
        width: 100%;
        padding: 0; 
    }

    .mission .mobile-fancy-box a[data-fancybox] {
        margin: 0;
        height: 200px;
    }
}

/* Sermon Styles */
.sermons {
    margin-top: 6vh;
    padding: 5% 0 5% 10%;
    background-color: #fff;
    color: #152553;
    font-size: 18px;
    font-weight: 400;
}

.sermons .title {
    margin-bottom: 1.5rem;
}

.sermons h2,
.sermons h4 {
    margin: 0;
}

.sermons h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.sermons h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: -0.25rem;
}

.slider-video {
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem; 
    background-color: #152553;
    background-image: url('https://deliver.sirv.com/img/sermons/thumb.jpeg');   
}

/* Play Button */
.slider-play {    
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider-icon {
    margin-left: 0.25rem;
    border: solid transparent;
    border-left-color: #152553;
    border-width: 12px 0 12px 20px;
    display: inline-block;
}

/* Slide Item Styles */
.slide-item {
    margin-top: 20px;
}

.slide-item h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}

.slide-item h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
}

.slide-item p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

/* Author Section */
.slide-author {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 12px;
}

.author-info p {
    margin: 0;
    font-size: 0.8rem;
}

.glide__arrows button{
    margin-top: 1.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eee;
    border: none;
    font-size: 1.25rem;
    color: #152553;
    font-family: monospace;
    font-weight: 400;
    transition: .5s;
    cursor: pointer;    
}

/* Media Queries */
@media screen and (max-width: 490px) {
    .sermons {
        padding: 8vh 0 8vh 5%;
    }

    .sermons .slider-video {
        height: 160px;
    }

    .sermons .title h2 {
        font-size: 1.8rem;
    }

    .sermons .title h4 {
        font-size: 1.2rem;
    }

}

.podcast {
    margin: 3rem 0 2rem 0;
}

.podcast .content {
    padding-bottom: 3rem;
}

.preview img {
    width: 40%;
    margin-bottom: 1rem;
    border-radius: 20px;
}

@media screen and (max-width: 490px) {
    .podcast h2 {
        font-size: 1.8rem;
    }

    .podcast h4 {
        font-size: 1.2rem;
    }

    .preview {
        padding-right: 5%;
    }
    
    .preview img {
        width: 100%;
    }
}

/* Resource Divider */
.resource-divider {
    position: relative;
    width: 100%; 
    background-color: #152553;
}

.resource-divider svg {
    display: block;
    width: 100%;
    height: 3rem;
    z-index: 2;
}

/* Resources Styles */
.resources {
    padding: 10vh 10vh;
    background-image: url(); /* Image of bible study behind maybe? */
    background: linear-gradient(180deg, #152553, #2d254b); /* Make this semi transparent */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;    
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    gap: 5vh;
}

.resources .title h4 {
    margin: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.resources .title h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.resources .recommend {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.resources a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px) saturate(120%);
    width: 240px;
    height: 320px;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}

.resources .rec-item h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.resources .rec-item h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.resources .rec-item p {
    margin-top: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
}

/* Media Queries */
@media screen and (max-width: 580px) {
    .resources {
        padding: 0;
    }

    .resources .title {
        padding: 5vh 5vh 0 5vh;
    }

    .resources .recommend {
        box-sizing: border-box;
        padding: 0vh 3rem 5vh 3rem;
        flex-direction: column;
    }

    .resources a {        
        padding: 48px 24px;
        width: 100%;
        height: auto;
    }
}